<% title = event.data.title %>
<% content = event.content %>

<div class="w-full flex-wrap md:flex md:flex-nowrap gap-[100px] mb-[60px]">
  <div class="w-full h-fit md:w-[725px] flex justify-center mb-[80px] md:mb-[200px]">
    <a href="<%= url_for(cluster) %>">
      <div class="category-title-container">
        <div class="hero-image" style="background-image: url(<%= relative_url cluster.data.hero %>)"></div>
        <div class="category-title"><%= collection %></div>
        <div class="category-title glow"><%= collection %></div>
      </div>
    </a>
  </div>
  <%# RENDER EVENT  %>
  <%= render Shared::Event.new(event: event,title: title,collection: collection,contents: content,cluster: cluster, align: :left) %>
</div>
