<% event = events.shift %>
<div class="w-full flex gap-[100px] sm:flex-wrap">
  <div class="w-full md:w-[725px] flex justify-start mt-[160px]">
    <div class="flex gap-[50px]">
      <div class="bg-cover bg-center md:w-[325px] md:h-[325px] mt-[10px]" style="background-image: url(<%= relative_url event.data.thumbnail %>)"></div>
      <div class="w-full md:w-1/2 sm:text-right md:mt-[50px]">
        <p class="meta text-dark-grey mb-[20px]">2013</p>
        <a href="<%= url_for(event) %>">
          <h3 class="heading-sm text-medium-black mb-[26px]"><%= event.data.title %></h3>
        </a>
        <p class="base mb-[25px]"><%= event.content_summary %></p>
        <button class="p-1 px-4 border border-solid-black lowercase"><%= event.data.clusters %></button>
      </div>
    </div>
  </div>
  <% event = events.shift %>
  <div class="w-full md:w-[725px] flex justify-start">
    <div class="flex gap-[50px] sm:flex-wrap-reverse">
      <div class="bg-cover bg-center md:w-[325px] md:h-[325px] mt-[10px]" style="background-image: url(<%= relative_url event.data.thumbnail %>)"></div>
      <div class="w-full md:w-1/2 sm:text-right md:mt-[50px]">
        <p class="meta text-dark-grey mb-[20px]">2013</p>
        <h3 class="heading-sm text-medium-black mb-[26px]"><%= event.data.title %></h3>
        <p class="base"><%= event.content_summary %></p>
        <button class="p-1 px-4 border border-solid-black mt-[25px] lowercase"><%= event.data.clusters %></button>
      </div>
    </div>
  </div>
</div>