<section>
  <div>
    <h3 class="text-2xl mb-4">Color Palette</h3>
    <hr class="my-2"/>
    <div class="flex-wrap flex gap-8  my-8">
      <%= render Styleguide::Swatch.new(name: 'Solid Black', hexcode: '#000000', classname: 'solid-black') %>
      <%= render Styleguide::Swatch.new(name: 'Very Black', hexcode: '#101012', classname: 'very-black') %>
      <%= render Styleguide::Swatch.new(name: 'Medium Black', hexcode: '#1A1A1A', classname: 'medium-black') %>
      <%= render Styleguide::Swatch.new(name: 'Dark Grey', hexcode: '#383838', classname: 'dark-grey') %>
      <%= render Styleguide::Swatch.new(name: 'Medium Grey', hexcode: '#A3A2A2', classname: 'medium-grey') %>
      <%= render Styleguide::Swatch.new(name: 'Off White', hexcode: '#F2F2F2', classname: 'off-white') %>
      <%= render Styleguide::Swatch.new(name: 'Lime Green', hexcode: '#2EF853', classname: 'lime-green') %>
      <%= render Styleguide::Swatch.new(name: 'Fuchsia', hexcode: '#F20DAF', classname: 'fuchsia') %>
      <%= render Styleguide::Swatch.new(name: 'Blue', hexcode: '#08C9f4', classname: 'blue') %>
      <%= render Styleguide::Swatch.new(name: 'White', hexcode: '#FFFFFF', classname: 'white') %>
      
      <%# <span class="bg-solid-black bg-very-black bg-medium-black bg-dark-grey bg-medium-grey bg-off-white bg-lime-green bg-fuchsia bg-blue bg-white"></span> %>
    </div>
  </div>
</section>