<header>
  <h2><%= @post.data.title %></h2>
  <time><%= @post.data.start_date&.year %></time>
  <img src="<%= relative_url (@post.data.cluster_thumbnail&.src || @post.data.media&.thumbnail) %>"
    alt="<%= @post.data.cluster_thumbnail&.alt || @post.data.media&.alt %>" />
</header>
<p class="text-ellipsis line-clamp-3"><%= @post.summary_summary(length: 175) %></p>
