---
layout: default
---
<% cluster        = collections.clusters.resources_by_slug["decades"].data %>
<% other_clusters = PostHelpers.explorable_collections(posts: collections.clusters.resources.each, value: cluster.title) %>
<% decade = resource.data.slug %>
<% tag = collections.tags.resources_by_slug[decade] %>

<% entries = PostHelpers.entries_by_decade(tag: tag) %>

<%= partial "cluster/header", locals: { cluster: cluster }  %>
<main class="revised-cluster-grid">
  <% entries.each do |post| %>
    <%= render Cards::ExploreMore::Base.new(post) %>
  <% end %>
</main>

<%= render Shared::Carousel.new(header_text: "Explore Collections") do %>
  <% other_clusters.each do |cluster| %>
    <%= render Poster::Cluster.new(cluster: cluster) %>
  <% end %>
<% end %>
<%= partial "shared/tell-your-story" %>