---
layout: default
---

<% cluster        = data %>
<% other_clusters = PostHelpers.explorable_collections(posts: collections.clusters.resources.each, value: cluster.title) %>
<% journals       = site.collections.journals.resources %>
<% ctas           = PostHelpers.ctas_by_collection(posts: collections.ctas.resources, value: cluster.title, count: 1) %>
<% prompts        = PostHelpers.prompts_by_collection(posts: collections.prompts.resources, value: cluster.title, count: 1) %>

<%= partial "cluster/header", locals: { cluster: cluster } %>
<main class="revised-cluster-grid">
  <% journals.each do |journal| %>
    <%= render Cards::Journal.new(post: journal) %>
  <% end %>
  <% prompts.flatten.each do |prompt| %>
    <%= render Cards::Prompt.new(post: prompt) %>
  <% end %>
  <% ctas.flatten.each do |cta| %>
    <%= render Cards::CallToAction.new(post: cta) %>
  <% end %>
</main>
<%= render Shared::Carousel.new(header_text: "Explore Collections") do %>
  <% other_clusters.each do |cluster| %>
    <%= render Poster::Cluster.new(cluster: cluster) %>
  <% end %>
<% end %>
<%= partial "shared/tell-your-story" %>
