<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %> <%= resource.data.body_classes %>">
    <%= render Shared::Navbar.new(site: site, resource: resource) %>

    <%= yield %>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
