---
layout: default
---
<main class="m-32">
  <%= partial 'guide/about' %>
  <%= partial 'guide/colors' %>
  <%= partial 'guide/typography' %>
  <%= partial 'guide/buttons' %>
  <%= partial 'guide/accessibility' %>
</main>
