<div class="poster swiper-slide">
    <div class="content">
      <%= link_to @link, class: "carousel-img-link" do %>
        <div class="cover" style="background-image: url(<%= relative_url @cluster.explore_image&.src %>)"></div>
      <% end %>
      <%= link_to @link, class: "carousel-link" do %>
        <h2><%= @cluster.title %></h2>
      <% end %>
      <p><%= @carousel_description %></p>
    </div>
</div>
