<div class="card cta">
  <%= link_to @link do %>
    <article>
      <header>
        <h2 class="link"><%= @cta.title %></h2>
        <span class="subhead text-medium-grey mb-[20px]">Take Action</span>
        <figure class="media">
          <img src="<%= relative_url @image %>"
               alt="<%= @alt %>" />
          <figcaption class="visually-hidden">
            <%= @alt %>
          </figcaption>
        </figure>
      </header>
      <p><%= @content %></p>
    </article>
  <% end %>
</div>
