<div class="card event">
  <%= link_to @link do %>
    <div class="content">
      <img src="<%= relative_url @event.media&.thumbnail %>" alt="<%= @event.media&.alt %>" />
      <time><%= @event.start_date&.year %></time>
      <h2><%= @event.title %></h2>
      <p><%= @content %></p>
    </div>
  <% end %>
</div>
