<div class="card event">
  <%= link_to @link do %>
    <article>
      <header>
        <h2><%= @event.title %></h2>
        <time><%= @event.start_date&.year %></time>
        <figure class="media">
          <img src="<%= relative_url @event.media&.thumbnail %>"
            alt="<%= @event.media&.alt %>" />
          <figcaption class="visually-hidden">
            <%= @event.media&.alt %>
          </figcaption>
        </figure>
      </header>
      <p><%= @content %></p>
    </article>
  <% end %>
</div>
