<div class="card event">
  <%= link_to @link do %>
    <article>
      <header>
        <h2><%= @event.title %></h2>
        <time><%= @event.start_date&.year %></time>
        <figure class="media">
          <img src="<%= relative_url @image %>"
            alt="<%= @alt %>" />
          <figcaption class="visually-hidden">
            <%= @alt %>
          </figcaption>
        </figure>
      </header>
      <p class="text-ellipsis line-clamp-3"><%= @content %></p>
    </article>
  <% end %>
</div>
