<div class="wrapper event">
  <div class="block thumbnail-desktop">
    <%= render Event::Thumbnail.new(event: @entry) %>
  </div>
  <article class="w-full md:min-w-[200px] <%= @classname %> mt-[26px] md:mt-[50px] flex flex-col">
    <header>
      <a class="entry-link" href="<%= url_for(@entry) %>">
        <h2 class="heading-sm text-medium-black mb-[26px] tracking-[0.01em] prevent-overflow">
          <%= @entry.data.title %>
        </h2>
      </a>
      <p class="meta-normal text-dark-grey mb-[10px]"><time><%= @entry.data.start_date&.year %></time></p>
    </header>
    <p class="base mb-[11px] md:mb-[21px]">
      <%= @entry.content_summary(length: 350) %>
    </p>
    <div class="block flex mb-[16px] thumbnail">
      <%= render Event::Thumbnail.new(event: @entry) %>
    </div>
    <%= render Event::ClusterLink.new(event: @entry, cluster: @cluster) %>
  </article>
</div>