<div class="wrapper event">
  <div class="hidden md:block">
    <%= render Event::Thumbnail.new(event: @entry) %>
  </div>
  <article class="w-full md:min-w-[200px] <%= @classname %> mt-[26px] md:mt-[50px] flex flex-col">
    <header>
      <a href="<%= url_for(@entry) %>">
        <h2 class="heading-sm text-medium-black mb-[12px] tracking-widest">
          <%= @entry.data.title %>
        </h2>
      </a>
      <p class="meta-normal text-dark-grey mb-[10px]"><time><%= @entry.data.start_date&.year %></time></p>
    </header>
    <p class="base mb-[11px] md:mb-[21px]">
      <%= @entry.content_summary %>
    </p>
    <div class="block md:hidden flex justify-end mb-[16px]">
      <%= render Event::Thumbnail.new(event: @entry) %>
    </div>
    <%= render Event::ClusterLink.new(event: @entry, cluster: @cluster) %>
  </article>
</div>