<div class="wrapper event">
  <div class="hidden md:block">
    <%= render Event::Thumbnail.new(event: @event) %>
  </div>
  <article class="w-full md:min-w-[200px] <%= @classname %> mt-[26px] md:mt-[50px] flex flex-col">
    <header>
      <a href="<%= url_for(@event) %>">
        <h3 class="heading-sm text-medium-black mb-[26px]">
          <%= @event.data.title %>
        </h3>
      </a>
      <p class="meta text-dark-grey mb-[20px]"><time><%= @event.data.start_date&.year %></time></p>
    </header>
    <p class="base mb-[25px]">
      <%= @event.content_summary %>
    </p>
    <div class="block md:hidden flex justify-end">
      <%= render Event::Thumbnail.new(event: @event) %>
    </div>
    <%= render Event::ClusterLink.new(event: @event, cluster: @cluster) %>
  </article>
</div>