<div class="w-full md:w-[725px] flex justify-start md:mt-[160px">
  <div class="flex flex-col-reverse md:flex-row md:gap-[50px] sm:items-end">
    <button class="md:hidden p-1 px-4 border border-solid-black lowercase mt-[16px]">
      <%= @event.data.clusters %>
    </button>
    <a href="<%= url_for(@event) %>">
      <div class="bg-cover bg-center w-[200px] h-[200px] md:w-[325px] md:h-[325px] mt-[10px" style="background-image: url(<%= relative_url @event.data.media&.thumbnail %>)">
      </div>
    </a>
    <div class="w-full md:w-1/2 <%= @classname %> mt-[26px] md:mt-[50px]">
      <p class="meta text-dark-grey mb-[20px]"><time><%= @event.data.start_date&.year %></time></p>
      <a href="<%= url_for(@event) %>">
        <h3 class="heading-sm text-medium-black mb-[26px]">
          <%= @event.data.title %>
        </h3>
      </a>
      <p class="base mb-[25px]">
        <%= @event.content_summary %>
      </p>
      <a href="<%= url_for(@cluster)%>" class="p-1 px-4 border border-solid-black mt-[25px] sm:hidden md:block md:w-fit lowercase">
        <%= @event.data.clusters %>
      </a>
    </div>
  </div>
</div>