<nav
  id="nav-menu"
  aria-expanded="false"
  data-controller="open-close"
  data-open-close-open-class="nav--open"
  data-open-close-closed-class="nav--closed"
  data-open-close-closing-class="nav--closing"
  class="nav--closed -px-[5px] lg:px-0 py-4 group relative w-full flex items-start">

  <div class="flex justify-between items-center w-full">
    <%= partial "nav/logo" %>
    <div class="flex items-center">
      <button
        id="menu-button-button"
        aria-expanded="false"
        data-action="click->open-close#updateState" class="inline-block mr-1 h-[44px] flex items-center nav-menu-button">
          <span id="menu-text">Menu</span>
          <%= svg "images/shared/menu-icon.svg",class: "fill-white mr-[1.5rem] ml-[0.25rem]" %>
        </button>
      <%= link_to "Participate", "/participate", class: "nav-participate button primary !hidden lg:!block !w-[146px] !min-w-[146px]" %>
    </div>
  </div>

  <div id="main-site-nav-wrapper">
    <%= partial "nav/clusters", locals: { clusters: clusters } %>
    <div id="main-site-nav-inner">
      <%= partial "nav/pages", locals: { pages: pages_in_nav } %>
      <%= partial "nav/social_links" %>
    </div>
  </div>
</nav>
