<nav data-controller="open-close"
  data-open-close-open-class="nav--open"
  data-open-close-closed-class="nav--closed"
  data-open-close-closing-class="nav--closing"
  class="nav--closed px-16 py-8 group relative w-full">

  <div class="flex justify-between items-center w-full">
    <%= partial "nav/logo" %>
    <div class="flex items-center gap-6">
      <%= link_to "#", class: "flex", data: { action: "click->open-close#updateState" } do %>
        <span class="inline-block mr-1 hidden group-[.nav--open]:block">Close Menu</span>
        <%= svg "images/shared/menu-icon.svg", class: "z-30 fill-white" %>
      <% end %>
      <%= link_to "Participate", "/participate", class: "button primary !hidden lg:!block !w-[146px] !min-w-[146px]" %>
    </div>
  </div>

  <div id="main-site-nav-wrapper">
    <%= partial "nav/clusters", locals: { clusters: clusters } %>
    <div id="main-site-nav-inner">
      <%= partial "nav/pages", locals: { pages: pages_in_nav } %>
      <%= partial "nav/social_links" %>
    </div>
  </div>
</nav>
