<aside class="mb-[50px]">
  <h3 class="heading-xxs">2010, <%= data.location %></h3>
  <p class="body text-medium-grey">Media: <a href="<%= data.media_link %>" class="text-off-white"><%= data.media_credit %></a></p>
  <p class="body text-medium-grey">Source: <a href="<%= data.source_link %>" class="text-off-white"><%= data.source %></a></p>
</aside>